.container{
    width:30%;
    margin:0 auto;
    position: relative;
    top:100px;
}
#current-date{
    font-size: 16px;
    color:gray;
}
#add-task{
    font-size: 20px;
}
#add-task:hover{
    
    color:red;
    cursor: pointer;

}
#add-task:hover .add-icon{
    background:red;
    color:white;
    border-radius: 50%;
}
.task-input,#edit-task-input{
    display: block;
    width:100%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
#ok-btn,#edit-ok-btn{
    background:red;
    padding:5px 25px 5px 25px;
    border:none;
    color:white;
    font-size:20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-container{
    margin-top: 20px;
}

.input-container{
    border:1px solid gray;
    padding:10px;
    border-radius: 5px;
}
.task-writing-box,.edit-task-writing-box{
    display: none;
    
}
.task-compleat{
    text-decoration: line-through;
}
.green-check-mark{
    background:white;
    color:green;
    margin-right: 10px;
}

.task-content{
    width:90%;
    box-shadow: 3px 3px 8px gray;
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: start;
}
.task-content-container p{
    font-size: 22px;
    

}
.task-content-container p i{
    margin-right: 10px;
}
.fa-edit{
    justify-self: center;
    color: green;
    cursor: pointer;
}

.fa-circle,.green-check-mark{
    cursor: pointer
}
.fa-trash-alt{
    color:red;
    cursor: pointer;
}
